<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Книжная библиотечка</title>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<body>
<div class="container mt-3">
    <h1 class="h1">Книжки</h1>

    <table class="table table-striped table-dark">
        <thead class="thead-dark">
            <tr>
                <th>Номер</th>
                <th>Имя книги</th>
                <th>Автор книги</th>
                <th>Жанр книги</th>
                <th>Действия</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="book, itemStat : ${books}">
                <td th:text="${itemStat.index} + 1"></td>
                <td>
                    <a th:href="@{/view/__${book.id}__}" th:text="${book.title}"></a>
                </td>
                <td th:text="${book.author.name}"></td>
                <td th:text="${book.genre.name}"></td>

                <form method="post" th:action="@{/delete/__${book.id}__}">
                    <td>
                        <a role="button" class="btn btn-success btn-sm" th:href="@{/edit/{id}(id=${book.id})}">Редактировать</a>
                        <button class="btn btn-danger btn-sm">Удалить</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-info" href="/addBook">Приложить книгу</a>
</div>

<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>