<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Новая книга</title>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
<body>


<div class="container mt-3">
    <h1 class="h1" th:if="${book.id}">Редактировать книгу</h1>
    <h1 class="h1" th:unless="${book.id}">Новая книга</h1>

    <form action="#" method="post" th:action="@{/addBook}" th:object="${book}">
        <input th:field="*{id}" type="hidden">

        <div class="form-group">
            <label for="title">Название книги</label>
            <input class="form-control" id="title" th:field="*{title}" type="text">
        </div>

        <label>
            <input type="text" name="city" list="cityname">
            <label for="title">Название автора</label>
            <datalist id="cityname">
                <option th:each="option : ${allBooks}" th:value="${option}" th:text="${option}"></option>
            </datalist>
        </label>


        <div class="form-group">
            <label for="genreName">Название жанра</label>
            <input class="form-control" id="genreName" th:field="*{genre.name}" type="text">
        </div>

        <button class="btn btn-info">Сохранить</button>
    </form>
</div>

<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>